<form id="car_form" action="/cars/" method="post" accept-charset="utf-8">
    <fieldset>
        <div class="line" >
            <label for="model">Model</label>
            <input type="text" name="model" value="">
        </div>
        <div class="line" >
            <label for="price">Price</label>
            <input type="text" name="price" value="">
        </div>
        <div class="line" >
            <label for="image">Image</label>
            <input type="text" name="image" value="">
        </div>
        <div class="line" >
            <label for="continent">Continent</label>
            <input type="text" name="continent" value="">
        </div>
        <input type="submit" value="Submit">
    </fieldset>
</form>